<link rel="stylesheet" href="/FinalProyect/TP-UTN-2023/components/header/header.style.css">
<header class="header">
  <p id="title" class="title">Bienvenido NAME</p>
  <ul>
    <li><a href="/FinalProyect/TP-UTN-2023/pages/home/home.html">Inicio</a></li>
    <li><a href="/FinalProyect/TP-UTN-2023/pages/cervezas/cervezas.html">Cervezas</a></li>
    <li><a href="/FinalProyect/TP-UTN-2023/pages/licores/licores.html">Licores</a></li>
    <li><a href="/FinalProyect/TP-UTN-2023/pages/vinos/vinos.html">Vinos</a></li>
    <li><a href="/FinalProyect/TP-UTN-2023/pages/gaseosas/gaseosas.html">Gaseosas</a></li>
  </ul>
  <ul>
    <li><a href="/FinalProyect/TP-UTN-2023/pages/about/about.html">¿Quienes somos?</a></li>
    <li><a href="/FinalProyect/TP-UTN-2023/pages/contact/contact.html">Contacto</a></li>
  </ul>
  <button class="header-menu"><i class="fa-solid fa-bars"></i></button>
</header>
