@import "/TP-UTN-2023/styles/global.css";

.main{
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    width: 100%;
    min-height: calc(100vh - 6.25rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}