@import "/TP-UTN-2023/styles/global.css";

.main{
    padding-top: 3.125rem;
    width: 100%;
    height: calc(100vh - 3.125rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}